body {
  background-color: #2d1c5d;
  color: white;
}
#container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}
#bigBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
#card {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 2%;
  width: 50%;
}
#midlImg {
  align-items: center;
}
#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 4rem;
  gap: 20px;
  padding-right: 2%;
}

#displayCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
#info {
  font-size: 8rem;
}
#subInfo {
  font-size: 4rem;
}
#submitBtn {
  border: radius 8px;
  width: 25%;
  font-size: 4rem;
  height: 100%;
}
#userInput {
  width: 25%;
  color: white;
  height: 100%;
  font-size: 4rem;
  padding-left: 1%;
  text-align: left;
  background: #170e31b8;
}
#contentP {
  width: 100%;
  color: white;
  font-size: 4rem;
}
#subtitle {
  color: white;
  font-size: 4rem;
  width: 100%;
}
#mark1 {
  background-color: yellow;
  color: #000;
}

#mark2 {
  background-color: red;
}
#mark3 {
  background-color: green;
  color: #000;
}
