body {
  background-color: #2d1c5d;
  color: white;
}
#container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}
#title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  text-align: center;
  font-size: 4rem;
}
#subInfo {
  font-size: 4rem;
}
#submitBtn {
  width: 15%;
  font-size: 2rem;
  height: 10%;
}
#userInput {
  width: 15%;
  color: white;
  font-size: 2rem;
  background: #170e31b8;
}
#contentP {
  width: 100%;
  color: white;
  font-size: 24px;
}
#subtitle {
  color: white;
  font-size: 24px;
  width: 100%;
}
