body {
  background-color: #2d1c5d;
  color: white;
}
#container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}
#header {
  display: flex;
  display: inline;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
}
#title {
  display: flex;
  /* flex-direction: column; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 80%;
  margin-bottom: 80%;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  text-align: center;
  font-size: 4rem;
}
#subInfo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 4rem;
}
#submitBtn {
  width: 15%;
  font-size: 2rem;
  height: 10%;
}
#userInput {
  width: 15%;
  color: white;
  font-size: 2rem;
  background: #170e31b8;
}
#contentP {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-left: 90%;
  color: white;
  font-size: 24px;
}
#subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 90%;
  color: white;
  font-size: 24px;
  width: 100%;
}
